{% extends 'auth.j2' %}
{% block title %}Error{% endblock %}
{% block content %}
<h5 class="card-title">Authentication error</h5>
  <p>There was a problem with your authorization request.</p>
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if backto %}<div class="row mb-4">
    <a class="btn btn-link" href="{{ backto }}" role="button">Try Again</a>
  </div>{% endif -%}
{% endblock %}