{% extends 'auth.j2' %}
{% block title %}Error{% endblock %}
{% block content %}
<h5 class="card-title">Authentication error</h5>
  <p>There was a problem with your authorization request.</p>
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}