{% extends 'auth.j2' %}
{% block title %}Password Requirements{% endblock %}
{% block content %}
<h5 class="card-title">Password Requirements on {{ sitename }}</h5>
{% include 'passreq.include.j2' %}
{% endblock %}